<template name="desenvolva">

		<div class='container'>
  		<h2 class="center">Ajude a melhorar o Sistema</h2>
		<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
		
		<div class="row">
  <div class="card small">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://blogdecodigo.files.wordpress.com/2013/04/bug-windows-7.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Reporte um Bug<i class="material-icons right">Saiba mais</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Encontrou algo errado?<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
			
		</div>
	</div>
</template>