<template name="home">
	
  	<div class='container' id='corpo'>
  		<h2 class="center">asdfghjk</h2>
		<p>fkgoei iitg ieite isaislkhetntln  jwaroçifjaira noi  raç roig iargirogaoi og ng a noaigaoinga  gnaoç ngai nian çnn ganoniançan oia i ai nçnaong oiarngnarongora   ng aoingoçaingoinaçonr na inr oian çoign açoingoarin on oranoçngoçanoga nogin ao noaonoançononoanor gn aon</p>
		
		<div class="row">
			<div class="col l4"> wrn ajf aornrn largnango alrgarnlgngla n alrjgangaa lrgnang</div>
			<div class="col l4"> wrn ajf aornrn largnango alrgarnlgngla n alrjgangaa lrgnang</div>
			<div class="col l4"> wrn ajf aornrn largnango alrgarnlgngla n alrjgangaa lrgnang</div>
			
		</div>

	</div>
</template>