<template name="login">
	
  	<div class='container' id='corpo'>

		<div class="card-panel">
			<div class="row">
				<div class="col s12 m6 l4 offset-m3 l4 offset-l4 ">
					<h3 class="center">Bem vindo</h3>

					<ul class="collapsible center" data-collapsible="accordion">
					    <li>
					      <div class="collapsible-header">Cadastre-se</div>
					     	<div class="collapsible-body">
						     	<div class="container">
						     		<form id="loginUsuario">
 							            <div class="input-field">
 							                  <input name="emailLogin" id="emailLogin" type="email" class="validate" required>
 							                  <label for="emailLogin">Email</label>
 							            </div>
 							            <div class="input-field">
 							                  <input name="senhaLogin" id="senhaLogin" type="password" class="validate" required>
 							                  <label for="senhaLogin">Senha</label>
 							            </div>
 							            <input name="submit" type="submit" class="btn center-align" value="Cadastrar-se" id="submit">
 									</form>
 								</div>
							</div>
					    </li>
					</ul>


					<p class="center">Ou</p>
					<ul class="collapsible center" data-collapsible="accordion">
					    <li>
					      <div class="collapsible-header">Login</div>
					     	<div class="collapsible-body">
						     	<div class="container">
						     		<form id="loginUsuario">
 							            <div class="input-field">
 							                  <input name="emailLogin" id="emailLogin" type="email" class="validate" required>
 							                  <label for="emailLogin">Email</label>
 							            </div>
 							            <div class="input-field">
 							                  <input name="senhaLogin" id="senhaLogin" type="password" class="validate" required>
 							                  <label for="senhaLogin">Senha</label>
 							            </div>
 							            <input name="submit" type="submit" class="btn center-align" value="Login" id="submit">
 									</form>
 								</div>
							</div>
					    </li>
					</ul>

				</div>		
			</div>
		</div>
	</div>

	{{>materializeCollapse}}

</template>